<div class="credit" id="credit">
    <div class="series__box">
        <div class="presents__section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="credit__block">
                            <p class="series__subtitle">ЭЛЕКТРОСАМОКАТ KUGOO СЕРИИ S ОТ ОФИЦИАЛЬНОГО ДИЛЕРА</p>
                            <h3 class="series__title">KOGOO</h3>
                            <span class="series__text">Продумана каждая деталь — для вашего удобства</span>
                            <div class="credit__page">
                                <span class="credit__desc">Условия для ваших покупателей будут такими:</span>
                                <ul class="credit__list">
                                    <li class="credit__item">- Суммы кредита: от 2 000 до 300 000 рублей</li>
                                    <li class="credit__item">- Первоначальный взнос от 0% до 99%</li>
                                    <li class="credit__item">- % ставка, среднерыночный диапазон – от 19% до 24% годовых.</li>
                                    <li class="credit__item">- Сроки кредита: от 3 до 36 месяцев</li>
                                </ul>
                            </div>
                            <div class="series__success">
                                <a href="#s1" class="button series__btn">Выбрать модель</a>
                                <button class="series__online" onclick="Marquiz.showModal('607c061b49f25e0044866098')">Подобрать самокат ONLINE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/img/credit.png" alt="Kugoo Series" class="series__kugoo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>