<div class="delivery" id="delivery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="delivery__subtitle">Доставка в течение 1 дня!</span>
                <h3 class="delivery__title">Доставка</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="delivery__card">
                    <img src="/img/moskow.jpg" alt="Доставка в регионы" class="delivery__images">
                    <div class="delivery__widget">
                        <span class="delivery__slogan">Бесплатно</span>
                    </div>
                    <div class="delivery__content">
                        <h4 class="delivery__lead">Доставка по Москве</h4>
                        <p class="delivery__text">Доставка по Москве курьером в день 
                            заказа или на следующий день.
                            Курьер все расскажет и покажет.
                            При заказе от 20 000 руб.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="delivery__card">
                    <img src="/img/mkad.jpg" alt="Доставка в регионы" class="delivery__images">
                    <div class="delivery__widget">
                        <span class="delivery__slogan">25 руб/км за пределами МКАД</span>
                    </div>
                    <div class="delivery__content">
                        <h4 class="delivery__lead">Доставка за МКАД</h4>
                        <p class="delivery__text">
                            Доставка по Московской области курьером в день заказа или на следующий день. 
                            Точная стоимость рассчитывается менеджером при заказе.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="delivery__card">
                    <img src="/img/russia.jpg" alt="Доставка в регионы" class="delivery__images">
                    <div class="delivery__widget">
                        <span class="delivery__slogan">от 700 рублей</span>
                    </div>
                    <div class="delivery__content">
                        <h4 class="delivery__lead">Доставка по России</h4>
                        <p class="delivery__text">
                            Доставка ТК СДЭК от 1 до 7 дней, 
                            до склада СДЭК или двери дома. Оплата электросамоката при получении. 
                            Предоплата за доставку.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>