<div class="product">
    <div class="product__box" id="m2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m2.png" alt="продукция" class="product__image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M2</h4>
                        <span class="product__subtitle">JILONG 8.8 Ah</span>
                        <div class="product__page">
                            <span class="product__price">23 500 ₽</span>
                            <s class="product__price-old">25 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>19 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>4 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>30 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>35 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>120 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>200 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>8 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, ручной тормоз, надувные колеса, подножка</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text"><strong>Электросамокат Kugoo М2</strong> с батарей объёмом 8.8 mAh. Модель 2017 года выпуска со съемным сидением, двумя амортизаторами и регулируемой рулевой втулкой.</p><br>
                            <p class="product__text">Большие надувные колёса обеспечивают комфортную езду по асфальту и по пересеченной местности, кроме того, амортизация переднего и заднего колёс дополнительно смягчают передвижение на этом самокате.</p><br>
                            <p class="product__text">В комплекте идут инструменты для сборки электросамоката, сервисная книга, гарантиный талон.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 2 550 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="m2Pro">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 order-2 col-lg-6 order-lg-1 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M2 PRO</h4>
                        <span class="product__subtitle">JILONG 7.5 Ah</span>
                        <div class="product__page">
                            <span class="product__price">26 900 ₽</span>
                            <s class="product__price-old">29 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>13.8 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>5 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>35 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>30 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>120 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>216 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>9 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>ручной тормоз, дисковые тормоза, подсветка, подножка</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text">Электросамокат <strong>Kugoo M2 Pro</strong> это универсальный электрический самокат, он подходит и мужчинам, и девушкам, и подросткам. Можно выбрать расцветку под себя. Весит он всего 16 кг, хотя на себе выдерживает до 120 кг веса. Такого сочетания удалось добиться, изготовив раму из авиационного алюминия, которая отличается своей прочностью, несмотря на небольшой вес.</p><br>
                            <p class="product__text">Чтобы обеспечить себе комфортную езду и всегда оставатьcя в ритме города самый выгодный вариант - это купить электросамокат Kugoo M2 Pro. Самокат компактный, особенно в сложенном виде. Процесс складывания лёгкий и быстрый. Поэтому его легко можно брать с собой в общественный транспорт, заносить в здания и даже хранить дома.</p><br>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 2 890 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 order-1 col-lg-6 order-lg-2  col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m2-pro.png" alt="продукция" class="product__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="m411Ah">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m4.png" alt="продукция" class="product__image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M4</h4>
                        <span class="product__subtitle">JILONG 11 AH</span>
                        <div class="product__page">
                            <span class="product__price">29 900 ₽</span>
                            <s class="product__price-old">31 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>22</span></li>
                                <li class="li product__desc">Время зарядки: <span>6 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>40 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>45 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>160 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>254 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>500 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>11 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>светодиодная фара, ручной тормоз, дисковые тормоза, подножка</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text">Электросамокат <strong>Kugoo М4</strong> имеет дисковые тормоза и двойную подвеску (четыре пружинных амортизатора). Последняя эффективно поглощает вибрации, смягчая движение по бездорожью.</p><br>
                            <p class="product__text">На руле расположен современный LCD-дисплей, который позволяет отслеживать необходимую информацию в пути, регулировать режимы езды. В целях безопасности устройство оборудовано яркой передней светодиодной фарой и задними габаритами. Они делают транспортное средство заметным другим участникам движения в условиях слабой видимости.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 3 190 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="m4Pro">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 order-2 col-lg-6 order-lg-1 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M4 PRO</h4>
                        <span class="product__subtitle">12.8Ah Panasonic со съёмной батареей</span>
                        <div class="product__page">
                            <span class="product__price">35 500 ₽</span>
                            <s class="product__price-old">36 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>16 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>6 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>45 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>40 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>160 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>254 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>600 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>13.5 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, ручной тормоз, дисковые тормоза, подножка, звуковой сигнал, поворотники, стоп сигнал</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text">Модель KUGOO HX PRO — это стильный и удобный в использовании электросамокат. Съёмная батарея, легко настраиваемая панель управления, усиленная система амортизации — все это и многое другое входят в комплектацию данной модели. KUGOO HX PRO легко складывается пополам и весит всего 14 кг, что позволяет без труда носить его как в руках, так и в специальной сумке-переноске.</p><br>
                            <p class="product__text">Ёмкость аккумулятора 128000 Ah позволит проехать до 43 км в зависимости от вашего веса и угла наклона поверхности, со скоростью до 30 км/ч. Время полной зарядки —  6 часа. У самоката есть подсветка и надёжная тормозная система. Это действительно мощное устройство, которое может развивать большую скорость и выдерживать большую нагрузку до 120 кг.</p><br>
                            <p class="product__text">Эта модель отличается повышенной прочностью, поэтому идеально подойдёт для взрослых, которые решили открыть для себя активный отдых.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit"  onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 3 750 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 order-1 col-lg-6 order-lg-2 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m4-pro.png" alt="продукция" class="product__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="m4Pro18Ah">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m4-pro18ah.png" alt="продукция" class="product__image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M4 PRO 18 AH</h4>
                        <span class="product__subtitle">18 AH рестайлинг</span>
                        <div class="product__page">
                            <span class="product__price">39 900 ₽</span>
                            <s class="product__price-old">42 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>25 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>8 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>50 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>45 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>160 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>254 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>18 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, дисковые тормоза, подножка, надувные колеса</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text">Электросамокат <strong>Kugoo М4 Pro</strong> рестайлинг имеет дисковые тормоза и двойную подвеску (четыре пружинных амортизатора). Последняя эффективно поглощает вибрации, смягчая движение по бездорожью.</p><br>
                            <p class="product__text">На руле расположен современный LCD-дисплей, который позволяет отслеживать необходимую информацию в пути, регулировать режимы езды. В целях безопасности устройство оборудовано яркой передней светодиодной фарой и задними габаритами. Они делают транспортное средство заметным другим участникам движения в условиях слабой видимости.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 4 190 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="m5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 order-2 col-lg-6 order-lg-1 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO M5</h4>
                        <span class="product__subtitle">60 км без подзарядки</span>
                        <div class="product__page">
                            <span class="product__price">54 900 ₽</span>
                            <s class="product__price-old">57 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>35 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>6 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>60 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>55 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>150 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>254 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>1000 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>12.8 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, регулируемый руль, ручной тормоз, дисковые тормоза, подножка</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text">Электросамокат KUGOO M5 в линейке М является самым мощным из своих собратьев и самым проходимым. Благодаря глубокому рессору Вы сможете наслаждаться поездками по парку, деревне, любой грунтовой и тернистой дороге. Данная модель пользуется спросом у ценителей агрессивной езды. </p><br>
                            <p class="product__text">ЁВ модели электрического самоката KUGOO M5 используется мультифункциональная панель управления устройством. Благодаря ей Вы сможете реглировать скоростной режим, выставлять ограничения по скорости, а также снимать аналитические показатели в режиме online - киллометраж, скорость, количество заряда батареи.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 5 690 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 order-1 col-lg-6 order-lg-2 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-m5.png" alt="продукция" class="product__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>