<div class="help" id="help">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="delivery__subtitle">Нет времени разбираться!</span>
                <h3 class="delivery__title">Нужна помощь?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="help__block">
                    <span class="help__subtitle">Наши специалисты каджый день на связи и готовы помочь. Заполните форму мы поможем! </span>
                    <form action="#" method="post" class="help__content">
                        <div class="help__page">
                            <div class="help__side">
                                <label for="name" class="help__label">Ваше имя</label>
                                <input type="text" class="help__name" name="name" id="name" placeholder="Имя Отчество">
                                <span class="help__text">Как к вам обращаться?</span>
                            </div>
                            <div class="help__side">
                                <label for="phone" class="help__label">Номер телефона</label>
                                <input type="text" class="help__name" name="phone" id="phone" placeholder="+7 (    )  _____-___-___" required>
                                <span class="help__text">Пожайлуйста укажите корректно</span>
                            </div>
                            <div class="help__side">
                                <button type="submit" class="button help__btn">Получить консультацию</button>
                                <span class="help__inquiry">Отправляя запрос на консультацию, Вы соглашаетесь на обработку персональных данных</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>