<!-- Modal Request a call -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Заказать бесплатную консультацию</h5>
            <span class="modal-text">В рабочие  будни ответим в течение 20 минут</span>
        </div>
        <div class="modal-body">
            <form action="#" method="post">
              <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Ваше имя">
              <input type="tel" name="tel" class="modal-form" id="modal-phone" placeholder="Номер телефона" required>
              <div class="modal-page">
                <input type="checkbox" name="checkbox" id="modal-checkbox" required>
                <label for="modal-checkbox" class="modal-checkbox">Я даю свое согласие на обработку моих персональных данных в соотвестствии с ФЗ  №152</label>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn modal-btn">Заказать консультацию</button>
            </div>
            </form>
        </div>

        </div>
    </div>
</div>

<!-- Modal Checkout -->
<div class="modal fade" id="exampleModalCheckout" tabindex="-1" aria-labelledby="exampleModalLabelCheckout" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
          <h5 class="modal-title modal-checkout-title" id="exampleModalLabelCheckout">Оформление заказа</h5>
          <span class="modal-text modal-checkout-text">Электросамокат KUGOO HX PRO</span>
          <img src="/img/product/kugoo-s1.png" class="modal-product" alt="Выбранный вами товар">
          <span class="modal-price"><strong class="modal-strong">Итого:</strong> 32 900 ₽</span>
      </div>
      <div class="modal-body">
          <form action="#" method="post">
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Ваше имя">
            <input type="tel" name="tel" class="modal-form" id="modal-phone" placeholder="Номер телефона" required>
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Адрес доставки">
            <textarea name="text" id="modal-textarea" class="modal-form" cols="30" rows="4" placeholder="Комментарии"></textarea>
            <div class="modal-page">
              <input type="checkbox" name="checkbox" id="modal-checkbox" required>
              <label for="modal-checkbox" class="modal-checkbox">Я даю свое согласие на обработку моих персональных данных в соотвестствии с ФЗ  №152</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn modal-btn">Заказать консультацию</button>
          </div>
          </form>
      </div>

      </div>
  </div>
</div>

<!-- Modal Credit -->
<div class="modal fade" id="exampleModalCredit" tabindex="-1" aria-labelledby="exampleModalLabelCredit" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
          <h5 class="modal-title modal-checkout-title" id="exampleModalLabelCredit">Купить в рассрочку</h5>
          <span class="modal-text modal-checkout-text">Электросамокат KUGOO HX PRO</span>
          <img src="/img/product/kugoo-s1.png" class="modal-product" alt="Выбранный вами товар">
          <span class="modal-price">от 3 699 руб./мес</span>
      </div>
      <div class="modal-body">
          <form action="#" method="post">
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Ваше имя">
            <input type="tel" name="tel" class="modal-form" id="modal-phone" placeholder="Номер телефона" required>
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Адрес доставки">
            <textarea name="text" id="modal-textarea" class="modal-form" cols="30" rows="4" placeholder="Комментарии"></textarea>
            <div class="modal-page">
              <input type="checkbox" name="checkbox" id="modal-checkbox" required>
              <label for="modal-checkbox" class="modal-checkbox">Я даю свое согласие на обработку моих персональных данных в соотвестствии с ФЗ  №152</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn modal-btn">Купить в рассрочку</button>
          </div>
          </form>
      </div>

      </div>
  </div>
</div>

<!-- Modal Support -->
<div class="modal fade" id="exampleModalSupport" tabindex="-1" aria-labelledby="exampleModalLabelSupport" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
          <h5 class="modal-title modal-checkout-title" id="exampleModalLabelSupport">Техподдержка</h5>
          <span class="modal-text modal-checkout-text">В рабочие  будни ответим в течение 20 минут</span>
      </div>
      <div class="modal-body">
          <form action="#" method="post">
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Ваше имя">
            <input type="tel" name="tel" class="modal-form" id="modal-phone" placeholder="Номер телефона" required>
            <textarea name="text" id="modal-textarea" class="modal-form" cols="30" rows="4" placeholder="Опишите проблему..."></textarea>
            <div class="modal-page">
              <input type="checkbox" name="checkbox" id="modal-checkbox" required>
              <label for="modal-checkbox" class="modal-checkbox">Я даю свое согласие на обработку моих персональных данных в соотвестствии с ФЗ  №152</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn modal-btn">Оставить заявку</button>
          </div>
          </form>
      </div>

      </div>
  </div>
</div>

<!-- Modal Question -->
<div class="modal fade" id="exampleModalQuestion" tabindex="-1" aria-labelledby="exampleModalLabelQuestion" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
          <h5 class="modal-title modal-checkout-title" id="exampleModalLabelQuestion">Задайте свой вопрос</h5>
          <span class="modal-text modal-checkout-text">В рабочие  будни ответим в течение 20 минут</span>
      </div>
      <div class="modal-body">
          <form action="#" method="post">
            <input type="text" name="name" class="modal-form" id="modal-name" placeholder="Ваше имя">
            <input type="tel" name="tel" class="modal-form" id="modal-phone" placeholder="Номер телефона" required>
            <textarea name="text" id="modal-textarea" class="modal-form" cols="30" rows="4" placeholder="Комментарии" required></textarea>
            <div class="modal-page">
              <input type="checkbox" name="checkbox" id="modal-checkbox" required>
              <label for="modal-checkbox" class="modal-checkbox">Я даю свое согласие на обработку моих персональных данных в соотвестствии с ФЗ  №152</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn modal-btn">Отправить</button>
          </div>
          </form>
      </div>

      </div>
  </div>
</div>

<!-- Marquiz script start -->
<script>
  (function(w, d, s, o){
    var j = d.createElement(s); j.async = true; j.src = '//script.marquiz.ru/v2.js';j.onload = function() {
      if (document.readyState !== 'loading') Marquiz.init(o);
      else document.addEventListener("DOMContentLoaded", function() {
        Marquiz.init(o);
      });
    };
    d.head.insertBefore(j, d.head.firstElementChild);
  })(window, document, 'script', {
      host: '//quiz.marquiz.ru',
      region: 'eu',
      id: '607c061b49f25e0044866098',
      autoOpen: false,
      autoOpenFreq: 'once',
      openOnExit: false,
      disableOnMobile: false
    }
  );
</script>
<!-- Marquiz script end -->