<div class="order">
    <div class="order__box">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <span class="delivery__subtitle">Всего несколько шагов и готово!</span>
                    <h3 class="delivery__title">Как сделать заказ</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="order__block">
                        <img src="/img/registration.svg" alt="Оформление" class="order__images">
                        <div class="order__content">
                            <span class="order__number">1</span>
                            <div class="order__page">
                                <h5 class="order__title">Оформление</h5>
                                <p class="order__text">1. Выбираете электросамокат и оставляете заявку на сайте.
                                    2. Позвоните или напишите в WhatsApp на 8 (495) 235-08-128 и менеджер примет заказ.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="order__block">
                        <img src="/img/confirmation.svg" alt="Подтверждение" class="order__images">
                        <div class="order__content">
                            <span class="order__number">2</span>
                            <div class="order__page">
                                <h5 class="order__title">Подтверждение</h5>
                                <p class="order__text">Менеджер связывается с вами для консультации и подтверждения вашего заказа.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="order__block">
                        <img src="/img/delivery.svg" alt="Доставка" class="order__images">
                        <div class="order__content">
                            <span class="order__number">3</span>
                            <div class="order__page">
                                <h5 class="order__title">Доставка</h5>
                                <p class="order__text">Курьер получает заказ на доставку и связывается с вами для согласования времени доставки.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="order__block">
                        <img src="/img/product.svg" alt="Прием товара" class="order__images">
                        <div class="order__content">
                            <span class="order__number">4</span>
                            <div class="order__page">
                                <h5 class="order__title">Прием товара</h5>
                                <p class="order__text">Вы получаете товар и расплачиваетесь с курьером на месте. С удовольствием катаетесь!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="button order__btn">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
</div>