<div class="payment" id="payment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="delivery__subtitle">Удобная оплата для Вас</span>
                <h3 class="delivery__title">Оплата</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="payment__card">
                    <img src="/img/cash.png" alt="" class="payment__images">
                    <div class="payment__block">
                        <h3 class="payment__title">Наличными</h3>
                        <p class="payment__text">Вы можете произвести оплату курьеру при доставке или оплатить при самовывозе в нашем офисе.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment__card">
                    <img src="/img/pay.png" alt="" class="payment__images">
                    <div class="payment__block">
                        <h3 class="payment__title">Безналичная оплата</h3>
                        <p class="payment__text">Оплата картой без комиссии при получении или в пункте самовывоза.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment__card">
                    <img src="/img/Prepayment.png" alt="" class="payment__images">
                    <div class="payment__block">
                        <h3 class="payment__title">Предоплата</h3>
                        <p class="payment__text">Предоплата осуществляется при доставке электросамоката по России.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>