<div class="presents">
    <div class="series__box">
        <div class="presents__section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="presents__block">
                            <p class="series__subtitle">Выберите подарок для себя!</p>
                            <h3 class="series__title">KOGOO</h3>
                            <div class="credit__page">
                                <span class="presents__desc">Выберите пожалуйста один подарок из списка ниже:</span>
                                <ul class="credit__list">
                                    <li class="credit__item">- Противоугонный замок</li>
                                    <li class="credit__item">- Сумка на руль</li>
                                </ul>
                            </div>
                            <div class="series__success">
                                <a href="#s1" class="button series__btn">Выбрать модель</a>
                                <button class="series__online" onclick="Marquiz.showModal('607c061b49f25e0044866098')">Подобрать самокат ONLINE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/img/presents.png" alt="Kugoo Series" class="series__kugoo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>