<div class="product">
    <div class="product__box" id="s1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-s1.png" alt="продукция" class="product__image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO S1</h4>
                        <span class="product__subtitle">JILONG 6.0 Ah</span>
                        <div class="product__page">
                            <span class="product__price">17 900 ₽</span>
                            <s class="product__price-old">19 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>12 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>4 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>25 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>25 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>100 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>203</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>6 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, ножной тормоз</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text"><strong>Электросамокат Kugoo S1</strong> считается новинкой среди устройств компании KUGOO. У него стильный современный внешний вид, маленький вес и при этом прекрасные технические характеристики. Это стильный самокат, который прекрасно подходит для детей, обладает стильным внешним видом и мощными характеристиками.</p><br>
                            <p class="product__text">Есть несколько самокатов, название которых начинается на S – все они отличаются легкостью и компактностью, поэтому их часто выбирают для детей.</p><br>
                            <p class="product__text">Эти модели легко взять с собой в общественный транспорт, машину и т.д. Они идеально подходят для городской жизни.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 1 990 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="s3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 order-2 col-lg-6 order-lg-1 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO S3</h4>
                        <span class="product__subtitle">JILONG 8.8 Ah</span>
                        <div class="product__page">
                            <span class="product__price">18 500 ₽</span>
                            <s class="product__price-old">21 500 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>11.6 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>4 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>30 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>30 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>100 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>200</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>6.6 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>ручной тормоз, ножной тормаз, амортизатор, регулируемый руль</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text"><strong>Электросамокат Kugoo S3</strong> 36V 8,8 Ah с ёмкостью аккумулятора 8800 mAh сделает Ваш путь еще быстрее и комфортабельнее. Главным отличаем от предыдущей модели является доработанный аккумулятор 8.8 Ah, мощный мотор 350W, адаптивный задний стоп-сигнал и удобная подножка.</p><br>
                            <p class="product__text"> Абсолютно все комплектующие сделаны из высокопрочных и оригинальных материалов, благодаря которым достигается максимальный комфорт во время езды. Дисплей с технологией LED является одной из главных отличительных особенностей перед аналогами.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 2 050 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 order-1 col-lg-6 order-lg-2 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-s3.png" alt="продукция" class="product__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__box" id="s3Pro">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__block">
                        <img src="/img/product/kugoo-s3-pro.png" alt="продукция" class="product__image">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="product__info">
                        <h4 class="product__title">Электросамокат KUGOO 3S PRO</h4>
                        <span class="product__subtitle">JILONG 8.8 Ah</span>
                        <div class="product__page">
                            <span class="product__price">20 900 ₽</span>
                            <s class="product__price-old">22 900 ₽</s>
                        </div>
                        <div class="product__characteristic">
                            <ul class="product__information">
                                <li class="li product__desc">Вес: <span>12 кг</span></li>
                                <li class="li product__desc">Время зарядки: <span>4 ч</span></li>
                                <li class="li product__desc">Дальность хода: <span>35 км</span></li>
                                <li class="li product__desc">Мах. скорость: <span>30 км/ч</span></li>
                                <li class="li product__desc">Мах. нагрузка: <span>100 кг</span></li>
                                <li class="li product__desc">Диаметр колёс: <span>200 мм</span></li>
                                <li class="li product__desc">Мощность мотора: <span>350 W</span></li>
                                <li class="li product__desc">Ёмкость аккумулятора:  <span>7.8 А-ч</span></li>
                                <li class="li product__desc">Опции: <span>амортизатор, ножной тормаз, подножка, колеса перфорированные</span></li>
                            </ul>
                        </div>
                        <div class="product__aside">
                            <p class="product__text"><strong>Электросамокат Kugoo S3 Pro</strong> новый флагманский электросамокат от компании KUGOO. Он вобрал от себя лучшее что было в версии S3 с небольшими улучшениями. Новый эргономичный дизайн, а так же виброподавляющие перфорированные колёса. Габаритные огни спереди и сзади деки для обеспечения безопасности при езде в тёмное время суток.</p><br>
                            <p class="product__text"><strong>Электросамокат Kugoo S3 Pro</strong> так же потерпел рестайлинг деки, теперь она полностью с антискользящим покрытием по всей ширине, на такой площадке удобно стоять в любой обуви, даже с гладкой подошвой. За счет специального покрытия Вы будете чувствовать себя максимально комфортно, не боясь при этом соскользнуть.</p>
                        </div>
                        <div class="product__holder">
                            <button class="product__credit" data-bs-toggle="modal" data-bs-target="#exampleModalCredit" onclick="ym(76080295,'reachGoal','credit')";>В расрочку — от 2 290 ₽/мес</button>
                            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCheckout" onclick="ym(76080295,'reachGoal','buy')";>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>