<div class="questions">
    <div class="questions__box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="questions__head">
                        <span class="questions__subtitle">Самые популярные вопросы и ответы</span>
                        <h4 class="questions__title">Вопросы</h4>
                        <div class="questions__block">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="questions__sign">?</span>
                                        Будет ли подарок при покупке?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Да, для моделей, которые участвуют в акциях предусмотрены аксессуары, которые идут вместе с самокатом. Условия акции смотрите на сайте, они могут меняться, более подробную информацию уточняйте у менеджера.
                                    </div>
                                </div>
                                </div>
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="questions__sign">?</span>
                                        Можно ли купить в кредит?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <strong>Мы сотрудничаем с Тинькофф банком.</strong> Вы можете ознакомиться более подробно с условиями предоставления кредита свяжитесь с нами
                                    </div>
                                </div>
                                </div>
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="questions__sign">?</span>
                                        Как происходит доставка?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Доставка по Москве и ближайшему Подмосковью в день заказа с 08.00 до 01.00 в согласованный интервал времени. Доставка по России осуществляется транспортной компаний СДЭК до ближайшего пункта выдачи, либо до двери.
                                    </div>
                                </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="questions__sign">?</span>
                                        Можно ли ездить по лужам?
                                    </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Самокаты поставляются с завода без защиты от влаги и грязи. Мы не рекомендуем использовать самокаты в сырую погоду, т.к. влага может попасть в аккумулятор и это будет не гарантийный случай. Если вы хотите использовать самокат в любое время, тогда вам следует заказать услугу по гидроизоляции в нашем сервисном центре.
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/ask.jpg" alt="Картинка" class="questions__images">
                    <div class="questions__ask">
                        <h4 class="questions__tagline">Условия возврата и отмены заказа</h4>
                        <p class="questions__text">Наши покупатели имеют право отменить сделанный заказ на покупку и доставку электросамоката в любой момент, до факта согласования с Оператором интернет магазина условий доставки (сообщения адреса и времени доставки товара). Чтобы произвести отмену заказа необходимо позвонить Оператору интернет магазина по указанным на сайте номерам телефонов или оставить в форме обратной связи заявку на отмену заказа.</p>
                        <div class="questions__excerpt">
                            <button class="button questions__btn" data-bs-toggle="modal" data-bs-target="#exampleModalQuestion">Задайте свой вопрос</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>