<div class="series" id="series">
    <div class="series__box">
        <div class="series__section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="series__block">
                            <p class="series__subtitle">ЭЛЕКТРОСАМОКАТ KUGOO СЕРИИ S ОТ ОФИЦИАЛЬНОГО ДИЛЕРА</p>
                            <h3 class="series__title">KOGOO</h3>
                            <span class="series__text">Продумана каждая деталь — для вашего удобства</span>
                            <div class="series__success">
                                <a href="#s1" class="button series__btn">Выбрать модель</a>
                                <button class="series__online" onclick="Marquiz.showModal('607c061b49f25e0044866098')">Подобрать самокат ONLINE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <img src="/img/kugooSeries.png" alt="Kugoo Series" class="series__kugoo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>