<div class="waterproofing">
    <div class="waterproofing__box">
        <div class="waterproofing__section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 col-xxl-5">
                        <div class="waterproofing__block">
                            <div class="waterproofing__content">
                                <span class="waterproofing__subtitle">Защитите себя от воды!</span>
                                <h4 class="waterproofing__title">Гидроизоляция</h4>
                            </div>
                            <div class="waterproofing__aside">
                                <span class="waterproofing__icon">i</span>
                                <p class="waterproofing__excerpt">Планируете использовать самокат в условиях повышенной влажности?</p>
                            </div>
                            <div class="waterproofing__body">
                                <p class="waterproofing__desc">Мы настоятельно рекомендуем произвести дополнительную услугу гидроизоляции электросамоката перед началом эксплуатации. Статистика показывает, что 8 из 10 причин ремонтов, это грязь и влага на важных узлах самоката. Попадание влаги в аккумулятор не является гарантийным случаем, а ремонт может обойтись в сумму от 10 000 ₽</p>
                            </div>
                            <div class="waterproofing__caption">
                                <h5 class="waterproofing__lead">Что вы получите гидроизолируя ваш самокат?</h5>
                            </div>
                            <div class="waterproofing__wrapper">
                                <i class="waterproofing__moisture"></i>
                                <p class="waterproofing__tagline">Возможность ездить в дождь и по лужам — попадание влаги в внутрь в таком случае исключается</p>
                            </div>
                            <div class="waterproofing__wrapper">
                                <i class="waterproofing__protection"></i>
                                <p class="waterproofing__tagline">Продление службы вашего самоката — за счёт защиты от проникновения влаги и пыли в важные узлы самоката</p>
                            </div>
                            <button type="button" onclick="ym(76080295,'reachGoal','waterproofing')"; data-bs-toggle="modal" data-bs-target="#exampleModal" class="button waterproofing__button">Получить скидку на гидроизоляцию</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-7">
                        <img src="/img/waterproofing.png" alt="Waterproofing" class="waterproofing__images">
                    </div>
                </div>
            </div>
            <div class="waterproofing__sale">
                <div class="marquee" id="marquee1">
                    <div class="marquee__inner">Скидка на гидроизоляцию при покупке самоката -10%</div>
                </div>
            </div>
        </div>
    </div>
</div>